@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('./images/dbbgi.jpg');
    background-size: cover;
}

header {
    background-color: #C9B79E;
    padding: 20px;
}

header > h1 {
    color: #331C15;
    text-align: center;
    font-family: Asap, sans-serif;
}

.score-board {
    margin: 20px auto;
    border: 4px solid white;
    border-radius: 4px;
    width: 200px;
    color: white;
    font-size: 45px;
    text-align: center;
    padding: 15px 20px;
    font-family: Asap, sans-serif;
    position: relative;
}

.badge {
    background-color: #fa3604;
    color: white;
    font-size: 14px;
    padding: 2px 10px;
    font-family: Asap, sans-serif;
}

#user-label {
    position: absolute;
    top: 30px;
    left: -25px;
}

#comp-label {
    position: absolute;
    top: 30px;
    right: -30px;
}

.result {
    font-size: 40px;
    color: white;
}

.result > p {
    text-align: center;
    font-weight: bold;
    font-family: Asap, sans-serif;
}

.choices {
    margin-top: 50px;
    text-align: center;
    font-family: Asap, sans-serif;
}

.choice {
    border: 4px solid white;
    display: inline-block;
    margin-top: 20px;
    border-radius: 50%;
    padding: 10px;
    transition: all 0.3s ease;
    margin:8px 8px;
    
}

.choice:hover {
    cursor: pointer;
}

#Action-message {
    text-align: center;
    color: white;
    font-family: Asap, sans-serif;
    font-weight: bold;
    margin-top: 20px;
    font-size: 35px;
}

.green-glow {
    border: 4px solid #4dcc7d;
    box-shadow: 0 0 10px #31b43a;
}

.red-glow {
    border: 4px solid #fc121b;
    box-shadow: 0 0 10px #d01115;
}

.grey-glow {
    border: 4px solid #1749ee;
    box-shadow: 0 0 10px #1742d1;
}